@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  /* background-image: url("../app/components/images/background.svg"); */
  background: linear-gradient(
    to right,
    rgb(231, 171, 59),
    rgb(226, 168, 61),
    rgb(73, 73, 196)
  );
  background-size: cover;
}

.backgroundLogin {
  background: linear-gradient(
    to bottom right,
    rgb(231, 171, 59),
    rgb(226, 168, 61),
    rgb(73, 73, 196),
    rgb(73, 73, 196),
    rgb(73, 73, 196)
  );
  background-size: cover;
}

.backgroundDash {
  background: linear-gradient(
    to bottom,
    rgb(5, 59, 137),
    rgb(4, 42, 97),
    rgb(3, 23, 52),
    rgb(2, 8, 17)
  );
  background-size: cover;
}

@layer components {
  .btn-primary {
    @apply w-28 h-8  bg-blue-950 border  border-blue-300 rounded-lg flex justify-center items-center;
  }

  .btn-secundary {
    @apply box-border flex flex-row justify-center text-white items-center p-3 gap-2  absolute w-40 h-12 left-10 top-2 bg-gray-900 border-gray-900 border-2 rounded-md;
  }

  .btn-form {
    @apply bg-white border-2 border-gray-300 hover:border-brand-1 hover:bg-brand-1 hover:text-white focus:bg-brand-1 focus:border-brand-1 text-black focus:text-white font-bold py-2 px-4 rounded;
  }

  .btn-error {
    @apply w-36 h-12 rounded bg-red-100 hover:border-2 hover:border-red-200 hover:bg-red-200 text-red-500;
  }

  .btn-succes {
    @apply w-36 h-12 rounded bg-green-100 hover:border-2 hover:border-green-200 hover:bg-green-200 text-green-500;
  }

  .btn-disabled {
    @apply w-36 h-12 bg-brand-3 text-white font-bold rounded;
  }

  .btn-big-text {
    @apply w-32 font-normal  text-base;
  }

  .btn-medium-text {
    @apply w-28 font-normal  text-sm;
  }

  .btn-header {
    @apply w-36 h-12 rounded hover:border-2 hover:border-gray-400 text-black;
  }

  .input-style {
    @apply rounded-md p-2 focus:outline-none border;
  }

  .user-form-input {
    @apply mt-1 px-6 py-4 h-14 text-xl bg-blue-900 shadow-sm placeholder-slate-400 focus:outline-none block w-[70%] rounded-md;
  }

  .user-form-button {
    @apply mt-1 px-6 py-3 h-12 flex w-full justify-center rounded-md bg-gray-100 text-2xl leading-6 text-gray-900 shadow-sm focus-visible:outline focus-visible:outline-2;
  }
}
